*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(136, 58, 234);
    --primary-light: rgb(224, 204, 250);
    --primary-dark: rgb(49, 10, 101);
    --primary-gradient: linear-gradient(
        45deg,
        var(--primary),
        var(--primary-light) 30%,
        white 60%
    );
    --secondary: #15171d;
    --secondary-light: #303542;
    --secondary-medium: #1f222c;
    --secondary-dark: #060608;
    --contrast: rgb(233, 221, 173);
    --contrast-light: rgb(242, 237, 211);
    --contrast-medium: rgb(201, 193, 158);
    --contrast-dark: rgb(156, 148, 112);
    --contrast-color: rgb(224, 204, 250);
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: system-ui, sans-serif;
    background: var(--secondary);
    color: var(--contrast);
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto 1fr;
    justify-items: stretch;
    align-items: stretch;
}

body.light {
    --secondary: rgb(233, 221, 173);
    --secondary-light: rgb(242, 237, 211);
    --secondary-medium: rgb(201, 193, 158);
    --secondary-dark: rgb(156, 148, 112);
    --contrast: #15171d;
    --contrast-light: #303542;
    --contrast-medium: #1f222c;
    --contrast-dark: #060608;
    --contrast-color: rgb(49, 10, 101);
}

body.mobile-menu-opened {
    overflow: hidden;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

h1 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    color: var(--primary-gradient);
    margin: 0.1em 0 1em 0;
}

ol, ul {
    padding-left: 0;
    margin-left: 0;

    li {
        margin-left: 1em;
    }
}

.text-gradient {
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

/* ============================ Mobile Menu and Navbar ============================ */
.mobile-menu-open {
    position: relative;
    display: flex;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    padding: 1em;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto 1fr;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;

    li {
        padding: 2em 0;
        text-align: center;
    }
}

.navbar-wrapper.expanded {
    display: grid;
}

/* ================================== Common =================================== */
.basic-heading-two {
    font-size: 2em;
    padding-bottom: 1em;
}

.basic-list {
    padding: 0 1em;
    li {
        list-style: none;
        line-height: 2em;

        a {
            color: var(--contrast);
            text-decoration: none;

            &:visited {
                color: var(--contrast);
            }

            &:hover, &:hover .back-to-posts__icon {
                color: var(--contrast-color);
                transition: color 300ms ease-in-out;
            }

            &:focus, &:focus .back-to-posts__icon {
                color: var(--contrast-color);
                font-weight: 500;
                transition: color 300ms ease-in-out;
            }
        }
    }
}

/* ================================= Media Queries ============================= */
@media screen and (min-width: 636px) {
    .navbar-wrapper {
        position: static;
        display: block;
        width: auto;
        height: auto;
        padding: 0;

        .navbar {
            flex-direction: row;
            align-self: unset;
            justify-self: unset;

            li {
                padding: 0 1.5em;
            }
        }
    }

    .mobile-menu-open {
        display: none;
    }

    .mobile-menu-close {
        display: none;
    }
}
