---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---
<Layout title="Cats n Coffee Corner">
    <main>
        <h1><span class="text-gradient">Cats n Coffee</span> Corner</h1>
    
        <section class="playground-content">
			<p>About Page Under Construction</p>
			<div class="playground-content-illustration">
				<Icon name="screwdriver-wrench" />
			</div>
		</section>
        <p class="about-this-page">
            This site uses 
            <a href="https://astro.build/" target="_blank">Astro</a>
            as framework and 
            <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>
            for icons.
        </p>
    </main>
</Layout>

<style>
.playground-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 1.5em;
    }
}

.playground-content-illustration {
    margin-top: 3em;

    svg {
        width: 150px;
        height: auto;
    }
}

.about-this-page {
    text-align: center;
    padding-top: 2em;

    a, a:visited {
        color: var(--contrast-color);

        &:hover {
            color: var(--contrast-color);
        }
    }
}
</style>