---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const allPosts = await getCollection('posts');
const sortedPosts = allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
---

<Layout title="Cats-n-Coffee Corner">
	<div class="main-content">
		<h1><span class="text-gradient">Cats-n-Coffee</span> Corner</h1>
        <h2 class="basic-heading-two">Posts Available - Ordered by Latest</h2>
        <ul class="basic-list">
            {sortedPosts.map((post) => <li>
                    <a class="post-link" href={`/posts/${post.slug}`}>
                        <span>{post.data.title}</span>
                        <span class="post-link-date">{post.data.pubDate.toString().slice(3, 15)}</span>
                    </a>
                </li>)}
        </ul>
	</div>
</Layout>

<style>
ul {
    padding: 0;
    margin-left: 0;

    li {
        margin-left: 0;
        line-height: normal;
        border-bottom: 1px solid var(--secondary-light);
        padding: 1em 0;
    }
}

.post-link {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.post-link-date {
    display: none;
}

@media screen and (min-width: 635px) {
    .post-link-date {
        display: inline;
    }
}

@media screen and (min-width: 1050px) {
    .main-content {
        max-width: 1050px;
        margin: 0 auto;
    }
}
</style>