---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const allPosts = await getCollection('posts');
---

<Layout title="Cats-n-Coffee Corner">
	<main>
		<h1><span class="text-gradient">Cats n Coffee</span> Corner</h1>
        <h2 class="basic-heading-two">Posts Available</h2>
        <ul class="basic-list">
            {allPosts.map((post) => <li><a href={`/posts/${post.slug}`}>{post.data.title}</a></li>)}
        </ul>
	</main>
</Layout>