---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const allPosts = await getCollection('posts');
const sortedPosts = allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
---

<Layout title="Cats-n-Coffee Corner">
	<div class="main-content">
		<h1><span class="text-gradient">Cats-n-Coffee</span> Corner</h1>
        <h2 class="basic-heading-two">Posts Available</h2>
        <ul class="basic-list">
            {sortedPosts.map((post) => <li><a href={`/posts/${post.slug}`}>{post.data.title}</a></li>)}
        </ul>
	</div>
</Layout>

<style>
ul {
    padding-left: 0;
    margin-left: 0;

    li {
        margin-left: 0;
        line-height: 2em;
    }
}

@media screen and (min-width: 1050px) {
    .main-content {
        max-width: 1050px;
        margin: 0 auto;
    }
}
</style>