---
import Layout from '../layouts/Layout.astro';
import CatFullSize from '../assets/cat-full-size.svg?raw';

import '../styles/global.css';
---

<Layout title="Cats n Coffee Corner">
	<main>
		<h1><span class="text-gradient">Cats-n-Coffee</span> Corner</h1>
		<section class="home-content">
			<div class="home-content-left">
				<Fragment set:html={CatFullSize} />
			</div>
			
			<div class="home-content-right">
				<p>
					Fun Things Coming Soon...
				</p>
				<p>Find all available tags <a href="/tags/">here</a></p>
			</div>
		</section>
	</main>
</Layout>

<style>
	.home-content {
		display: flex;
		justify-content: center;
	}

	.home-content-left {
		width: 400px;
		height: auto;

		svg {
			width: 100%;
			height: auto;
		}
	}

	.home-content-right {
		margin-left: 40px;
		font-size: 1.25em;
		line-height: 1.5em;

		a, a:visited {
			color: var(--contrast);

			&:hover {
				color: var(--contrast-color);
			}
		}
	}
</style>
