---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Cats n Coffee Corner">
	<div class="main-content">
		<h1><span class="text-gradient">Cats-n-Coffee</span> Corner</h1>

        <section class="playground-content">
			<h2 class="basic-heading-two">Playground Is Always a Work In progress</h2>
			<ul role="list" class="basic-list">
				<li><a href="/playground/cat/">First Draft of the Future Home Page - Cat Animation</a></li>
			</ul>
		</section>
	</div>
</Layout>

<style>
.main-content {
    margin: 0 1em;
    padding-bottom: 1em;
}

.playground-content {
	display: flex;
	flex-direction: column;

	ul {
		padding: 0;
		margin-left: 0;

		li {
			margin-left: 0;
			line-height: normal;
			border-bottom: 1px solid var(--secondary-light);
			padding: 1em 0;
		}
	}
}

.playground-content-illustration {
	margin-top: 3em;

	svg {
		width: 150px;
		height: auto;
	}
}

@media screen and (min-width: 1050px) {
    .main-content {
        max-width: 1050px;
        margin: 0 auto;
    }
}
</style>