---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Cats n Coffee Corner">
	<div class="main-content">
		<h1><span class="text-gradient">Cats-n-Coffee</span> Corner</h1>

        <section class="playground-content">
			<h2 class="basic-heading-two">Playground Is Always a Work In progress</h2>
			<ul role="list" class="basic-list">
				<li>
					<a href="/playground/cat/" target="_blank">
						First Draft of the Future Home Page - Cat Animation. Click to see it.
					</a>
					<p>
						This is the first working version with all the pieces needed. Models are very simplified and
						the code will be optimized in the future, once nicer models are ready. This first version only runs
						on a desktop screen or tablet, mobile isn't supported yet.
						Two blog posts explain how certain parts were built:
						<a href="/posts/rotate-object-with-cursor">Rotate an object according to cursor position</a>, and
						<a href="/posts/detect-cube-threejs">Detect Cursor Position Over an Object</a>.
					</p>
				</li>
			</ul>
		</section>
	</div>
</Layout>

<style>
.main-content {
    margin: 0 1em;
    padding-bottom: 1em;
}

.playground-content {
	display: flex;
	flex-direction: column;

	ul {
		padding: 0;
		margin-left: 0;

		li {
			margin-left: 0;
			line-height: normal;
			border-bottom: 1px solid var(--secondary-light);
			padding: 1em 0;
			
			p {
				padding-top: 1em;

				a {
					text-decoration: underline;
				}
			}
		}
	}
}

.playground-content-illustration {
	margin-top: 3em;

	svg {
		width: 150px;
		height: auto;
	}
}

@media screen and (min-width: 1050px) {
    .main-content {
        max-width: 1050px;
        margin: 0 auto;
    }
}
</style>