---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Cats n Coffee Corner">
	<main>
		<h1><span class="text-gradient">Cats n Coffee</span> Corner</h1>

        <section class="playground-content">
			<p>Playground Under Construction</p>
			<div class="playground-content-illustration">
				<Icon name="screwdriver-wrench" />
				<a href="/playground/cat/">Home Page building</a>
			</div>
		</section>
	</main>
</Layout>

<style>
main {
    padding: 1em 1em 1.5em 1em;
}

.playground-content {
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		font-size: 1.5em;
	}
}

.playground-content-illustration {
	margin-top: 3em;

	svg {
		width: 150px;
		height: auto;
	}
}
</style>