---
import Navbar from './Navbar.astro';
import MobileMenuOpen from './MobileMenuOpen.astro';
import ThemeToggle from './ThemeToggle.astro';
---
<header>
    <nav>
        <MobileMenuOpen />
        <Navbar />
    </nav>
    <ThemeToggle />
</header>

<style>
header {
    display: flex;
    justify-content: space-between;
    background: var(--secondary-medium);
    padding: 1em;
}
</style>