---
---
<div class="mobile-menu-open">
    <span class="mobile-menu-line"></span>
    <span class="mobile-menu-line"></span>
    <span class="mobile-menu-line"></span>
</div>

<style>
.mobile-menu-open {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
}
</style>