---
---
<ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/playground/">Playground</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/projects/">Projects</a></li>
</ul>

<style>
    .navbar li {
        list-style-type: none;
        padding: 0px 16px;
    }

    a {
        text-decoration: none;
    }
</style>