---
---
<div class="navbar-wrapper">
    <button
      class="mobile-menu-close"
      aria-label="Close"
    >
        Close
    </button>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/playground/">Playground</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/projects/">Projects</a></li>
    </ul>
</div>


<style>
    .navbar-wrapper {
        background: var(--secondary-medium);
        z-index: 1;
    }

    .navbar li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
</style>