---
---
<div class="navbar-wrapper">
    <div class="mobile-menu-close">Close</div>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/playground/">Playground</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/projects/">Projects</a></li>
    </ul>
</div>


<style>
    .navbar li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
</style>