---
import { Icon } from 'astro-icon/components';
---
<div class="theme-toggle__wrapper">
    <button
      class="theme-toggle__button"
      type="button"
      aria-pressed="false"
      aria-label="Switch Theme"
      data-theme-toggle>
      <div class="theme-toggle__icon">
        <Icon class="theme-toggle__icon-light" name="sun" />
        <Icon class="theme-toggle__icon-dark" name="moon" />
      </div>
    </button>
</div>

<style>
.theme-toggle__button {
    position: relative;
    border: none;
    width: 44px;
    height: 22px;
    background-color: var(--primary);
    border-radius: 20px;

    .theme-toggle__icon {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--contrast);
        color: var(--secondary-medium);
        transition: transform 300ms ease-in-out;
    }
}

body.light button[data-theme-toggle] .theme-toggle__icon-light,
body button[data-theme-toggle] .theme-toggle__icon-dark {
    display: none;
}

body.light button[data-theme-toggle] .theme-toggle__icon-dark,
body button[data-theme-toggle] .theme-toggle__icon-light {
    display: block;
}

body.light button[data-theme-toggle] .theme-toggle__icon {
    transform: translate(20px, 0);
}
</style>

<script is:inline>
const themeToggle = document.querySelector('[data-theme-toggle]');

themeToggle.addEventListener('click', (e) => {
    let ariaPressedValue = e.target.getAttribute('aria-pressed') === 'false';
    e.target.setAttribute('aria-pressed', String(!ariaPressedValue));

    document.body.classList.toggle('light');
});

// TODO: Add localstorage update + on page load
</script>