---
import { Icon } from 'astro-icon/components';
---

<button
    class="theme-toggle__button"
    type="button"
    aria-pressed="false"
    aria-label="Switch Theme"
    data-theme-toggle
>
        <div class="theme-toggle__icon">
            <Icon class="theme-toggle__icon-light" name="sun" />
            <Icon class="theme-toggle__icon-dark" name="moon" />
        </div>
</button>


<style>
.theme-toggle__button {
    position: relative;
    border: none;
    width: 44px;
    height: 22px;
    background-color: var(--primary);
    border-radius: 20px;
    cursor: pointer;

    .theme-toggle__icon {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--contrast);
        color: var(--secondary-medium);
        transition: transform 300ms ease-in-out;
    }

    &:hover {
        box-shadow: 1px 1px 5px 1px var(--primary);
        transition: box-shadow 400ms ease-in-out;
    }

    &:focus .theme-toggle__icon {
        outline: solid 2px var(--secondary-light);
    }
}

body.light button[data-theme-toggle] .theme-toggle__icon-light,
body button[data-theme-toggle] .theme-toggle__icon-dark {
    display: none;
}

body.light button[data-theme-toggle] .theme-toggle__icon-dark,
body button[data-theme-toggle] .theme-toggle__icon-light {
    display: block;
}

body.light button[data-theme-toggle] .theme-toggle__icon {
    transform: translate(22px, 0);
}
</style>

<script>
import { updateLocalStorage } from '../scripts/common/localStorage.js';

const themeToggle = document.querySelector('[data-theme-toggle]');

themeToggle?.addEventListener('click', (e) => {
    const eventTarget = e.target as HTMLButtonElement;
    let ariaPressedValue = eventTarget?.getAttribute('aria-pressed') === 'false';
    eventTarget?.setAttribute('aria-pressed', String(ariaPressedValue));

    document.body.classList.toggle('light');

    const storageValue = ariaPressedValue ? 'light' : 'dark';
    updateLocalStorage('themeValue', storageValue);
});
</script>