---
import Layout from './Layout.astro';
import intros from '../constants/content/intros.js';
import { Icon } from 'astro-icon/components';
import '../styles/global.css';

const { frontmatter } = Astro.props;
---
<Layout title="Cats n Coffee Corner test">

    <main>
        <a class="back-to-posts__link" href="/blog/">
            <Icon
              class="back-to-posts__icon"
              name="arrow-left"
            />
            Back to Posts
        </a>

        {
            frontmatter.title &&
            <h1 class="post-title">{ frontmatter.title }</h1>
        }
        <section class="post-details">
            {
                frontmatter.author &&
                <p class="post-details-author">Written by { frontmatter.author } -</p>
            }
            {
                frontmatter.pubDate &&
                <p class="post-details-date">- Published on { frontmatter.pubDate.toString().slice(0, 10) }</p>
            }
        </section>
        {
            (frontmatter.image && frontmatter.image.url)
            ? <img src={ frontmatter.image.url } width="200" alt={ frontmatter.image.alt }/>
            : <br/>
        }
        {
            frontmatter.introType &&
            <i>{intros[frontmatter.introType as keyof typeof intros]}</i>
        }

        <div class="post-content">
            <slot />
        </div>
    </main>

</Layout>

<style>
main {
    padding: 1em 1em 1.5em 1em;
}

.back-to-posts__link {
    color: var(--contrast-color);
    text-decoration: none;
    display: flex;

    .back-to-posts__icon {
        color: var(--contrast-color);
        margin-right: 10px;
    }

    &:visited {
        color: var(--contrast-color);
    }

    &:hover, &:hover .back-to-posts__icon {
        color: var(--primary);
        transition: color 300ms ease-in-out;
    }

    &:focus, &:focus .back-to-posts__icon {
        color: var(--primary);
        font-weight: 500;
        transition: color 300ms ease-in-out;
    }
}

.post-title {
    font-size: 2.5em;
    padding: 1em 0;
    color: var(--contrast-light);
}

.post-details {
    display: flex;
}

.post-details-author, .post-details-date {
    font-size: 1em;
    font-style: italic;
}

.post-content {
    p {
        padding: 0.5em 0;
        line-height: 1.6em;
    }

    h2 {
        font-size: 1.75em;
        padding: 1em 0;
        color: var(--contrast-color);
    }

    h3 {
        font-size: 1.25em;
        padding: 0.75em 0;
        color: var(--contrast-light);
    }

    pre {
        padding: 0.75em;
        margin: 0.25em 0 0.75em 0;

        code > span{
            line-height: 1.5em;
        }
    }

    ol, ul {
        list-style-position: inside;
    }
}

@media screen and (min-width: 1050px) {
    main {
        max-width: 1050px;
        justify-self: center;
    }
}
</style>